__pycache__/
*.pyc
.DS_Store
.env
credentials.json
venv/
venv_build/
barcodes/
complete/
generated-labels/
progress/
ftid_gen/complete/
ftid_gen/progress/
ftid_data.json
ftid_settings.json
previous_maxicode.json
requirements/label_history.csv
requirements/credentials.json
user_tracking/label_history.csv
